apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: eje-data
  labels:
    app: eje
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: standard
